body {
    font-family: "Microsoft YaHei", '宋体', Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    line-height: 150%;
    color: #666666;
    min-width: 1024px;
    background:#ebecf2;
}

*:focus { 
    outline:none; 
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

img {
    border: none;
}

a {
}

p {
    text-indent: 2em;
}

.clear {
    clear: both;
}

.unSelect{
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.red {
    color: red;
}

.bg_none{
    background: none;
    color: #000000;
    border: none;
}
.bg_ffffff{
    background-color: #ffffff;
    color: #999999;
    border: 1px solid #e4e4e4;
}
.bg_45b6af {
    background-color: #45b6af;
    color: #fff;
    border: 1px solid #45b6af;
}

.bg_f11c1c {
    background-color: #f11c1c;
    color: #fff;
    border: 1px solid #f11c1c;
}

.bg_3dd1ba {
    background-color: #3dd1ba;
    color: #fff;
    border: 1px solid #3dd1ba;
}
.bg_3ca143 {
    background-color: #3ca143;
    color: #fff;
    border: 1px solid #3ca143;
}

.bg_dfba49 {
    background-color: #dfba49;
    color: #fff;
    border: 1px solid #dfba49;
}

.bg_00b7ee{
    background-color: #00b7ee;
    color: #fff;
    border: 1px solid #00b7ee;
}
.bg_f65e5d{
    background-color: #f65e5d;
    color: #fff;
    border: 1px solid #f65e5d;
}
.bg_eb9a6f{
    background-color: #eb9a6f;
    color: #fff;
    border: 1px solid #eb9a6f;
}
.bg_ef8f7f{
    background-color: #ef8f7f;
    color: #fff;
    border: 1px solid #ef8f7f;
}
.bg_34a1e0{
    background-color: #34a1e0;
    color: #fff;
    border: 1px solid #34a1e0;
}
.bg_32bef8{
    background-color: #32bef8;
    color: #fff;
    border: 1px solid #32bef8;
}
.fontStyle{
    padding: 0px 5px;
}
.boxShadow{
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.alignleft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.header {
    height: 77px;
    overflow: hidden;
    background: #ffffff;
}

.logo {
    font-size: 25px;
    float: left;
    margin-left: 15px;
    margin-top: 17px;
}
#logo_img{
    float: left;
    width: 35px;
    margin-top: 8px;
}
#logo_text{
    float: left;
    margin-left: 5px;
    margin-top: 9px;
    font-weight: normal;
}

#sidebar-toggle-light{
    float: left;
    cursor: pointer;
    margin-top: 13px;
    margin-left: 10px;
}

#sidebar-toggle-light:hover{
    opacity: 0.5;
}

#schoolName{
    color: #666;
    font-size: 14px;
    transition: all 0.3s;
}
#schoolName:hover{
    color: #ccc;
}
#accountPhoto{
    float: left;
}
#accountName{
    margin-top: 22px;
}
#left_btn {
    float: left;
    width: 20px;
    height: 20px;
    background: url("../images/sidebar-toggle-light.png") no-repeat;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 30px;
    transition: all 0.5s;
}

#left_btn:hover {
    opacity: 0.3;
}


#admin{
    float: right;
    margin-right: 5px;
}

.icon_adminMenus_center {
    padding: 10px 0px;
    background: #536470;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.adminDiv {
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    float: left;
    padding: 0px 15px;
    text-align: center;
}


.adminDiv a{
    color: #fff;
    text-decoration: none;
}

.adminWindow{
    position: fixed;
    z-index: 9999;
    display: none;
    margin-top: -10px;
}
.adminWindow_t{
    font-size: 15px;
    line-height: 30px;
    color: #ebecf2;
    position: absolute;
    margin-top: -20px;
    transform: scaleX(2);
}
.adminWindow_c{
    background: #fff;
    border: 1px solid #ebecf2;
    line-height: 30px;
    text-align: left;
}

.adminWindow_div{
    padding: 0px 20px;
}

.adminWindow_div.active{
    background: #ebecf2;
}
#adminMsg{
    line-height: 15px;
    text-align: left;
    padding: 0px;
}
#accountPhoto img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 15px;
    margin-right: 5px;
}
.adminMsg{
    position: absolute;
    top: 55px;
    right: 8px;
    z-index: 99999;
    display: none;
}
.adminMsg_t{
    text-align: right;
    color: #e4e4e4;
    height: 14px;
    font-size: 16px;
    overflow: hidden;
}
.adminMsg_t span{
    margin-right: 10px;
}

.adminMsg_c{
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    padding: 10px 0px;
}
.adminMsg_div{
    padding: 5px 20px;
    padding-left: 30px;
}
.adminMsg_div:hover{
    color: #00b7ee;
}
.adminMsg_div img{
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -20px;
}
.adminMsg_div_Line {
    height: 1px;
    border-top: 1px solid #e4e4e4;
    margin: 5px 1px;
}
.adminMsg_div_Line_dashed {
    height: 1px;
    border-top: 1px dashed #e4e4e4;
    margin: 5px 1px;
}
#groups{
    padding: 0px; 
}
#groups:hover{
    color: #666666
}
.groupDiv{
    padding-left: 30px;
    padding-right: 20px;
    margin-right: 20px;
    line-height: 20px;
    color: #ccc;
}
.groupDiv:hover{
    color: #666;
}
.groupDiv.active{
    color: #4BAE4F;
    background: url(../images/check.png) right center no-repeat;
}
.groupDiv.active:hover{
    color: #4BAE4F;
}
.adminDivActive{
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}
.adminDiv_tip {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    right: 15px;
    margin-top: -28px;
    font-size: 12px;
}
#yunFileBtn{
    margin-top: 22px;
}

.left {
    width: 200px;
    position: absolute;
    min-height: 40px;
    background: #fff;
    color: #333333;
    left: 0;
    top: 87px;
    z-index: 9998;
    transition: all 0.2s;
}

#menuActive {
    width: 7px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 111px;
    background: #00b7ee;
    z-index: 9999999;
}
#menu_box{
    margin-top: 26px;
    margin-left: 3px;
    margin-bottom: 10px;
    min-height: 400px;
}
.right {
    margin-left: 200px;
    margin-top: 10px;
}

#nav {
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #eeeeee;
}

#nav span {
    color: #666;
    font-size: 18px;
    margin-left: 20px;
}

.note {
    background: #2ac7f6;
    border-left: 5px solid #00B7EE;
    color: #FFFFFF;
    padding: 10px 30px 10px 10px;
    margin: 0px 10px 0px 10px;
    display: none;
}

#noteClose {
    cursor: pointer;
    position: absolute;
    right: 30px;
    z-index: 999;
    font-family: arial;
}

#noteClose:hover {
    color: #d68a90;
}

.rightContent {
    background: #fff;
    margin: 10px;
    margin-bottom: 40px;
    overflow: auto;
}

#right {
    padding: 10px;
}

.menu_1_box {
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    padding-left: 17px;
    cursor: pointer;
}

.menu_1_img {
    margin-right: 5px;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-top: 12px;
    line-height: 18px;
}

.menu_1_img img {
}

.menu_1_font {
    cursor: pointer;
}

.menu_arrow {
    padding-right: 20px;
    background: url(../images/arrow.png) right center no-repeat;
}

.menu_1_active {
    background: #fff;
}

.leftWidth .menu_1_active{
    background: #f4f4f4;
}


.menu_1_active .menu_1_font {
    color: #333;
}

.menu_1_active .menu_arrow {
    /*background: url(../images/arrow.png) right center no-repeat;*/
}
.menu_1_children{
    background: #f4f4f4;
}

.leftWidth .menu_1_children{
    position:absolute;
    margin-top:-40px;
    margin-left:47px;
    width:170px;
    min-height:40px;
}

.menu_2_box {
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    padding-left: 30px;
}

.menu_2_img {
    background: url(../images/menu_2_img.png) no-repeat;
    margin-right: 5px;
    display: block;
    float: left;
    width: 5px;
    height: 9px;
    overflow: hidden;
    margin-top: 16px;
}

.menu_2_font {
    cursor: pointer;
    font-size: 12px;
}

.menu_2_active {
    background: #f4f4f4;
}

.menu_2_active .menu_2_img {
    background: url(../images/menu_2_img_active.png) no-repeat;
}

.menu_2_active .menu_2_font {
    color: #04aeda;
}

.menu_2_active .menu_arrow {
    background: url(../images/arrow_active.png) right center no-repeat;
}

.menu_3_box {
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    padding-left: 50px;
}

.menu_3_font {
    cursor: pointer;
    font-size: 12px;
}

.menu_3_active {
    background: #000;
    background: rgba(0,0,0,0.5);
}

.menu_3_active .menu_3_font {
    color: #ac302d;
}

.footer {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.3);
    color: #fff;
    z-index: 9999;
}


/*云盘*/
#yunFile{
    /* border-radius: 5px;
    box-shadow:0 0 2px 4px #f5f5f5; */
}
.yunFileLeft{
    width: 20%;
    min-height: 350px;
    float: left;
    background: #fff;
    box-shadow:0 0 1px 2px #f5f5f5; 
    overflow: auto;
}
#yunPath{
    /* border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5; */
    padding:10px 10px 10px 20px;
}
.yunPath{
    border-left: 1px dashed #e4e4e4;
    padding-left: 10px;
}
.yunPathSrc{
    background: #fff url("../images/icon_yun_moreOpen.png") left center no-repeat;
    background-size:16px auto;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color:#333;
}
.yunPathSrcShare{
    background: #fff url("../images/icon_yun_file.png") left center no-repeat;
    background-size:16px auto;
}
.yunPathName{
    cursor: pointer;
}
.yunPathActive{
    color: #00b7ee;
    background: #fff url("../images/icon_yun_moreOpen_active.png") left center no-repeat;
}
.yunPathSrcShare.yunPathActive{
    background: #fff url("../images/icon_yun_file_active.png") left center no-repeat;
}
.yunPathChild{
    margin-left:8px;
}
.yunPathOpen{
    background: url("../images/icon_yun_moreClose.png") left center no-repeat;   
}
.yunPathActive.yunPathOpen{
    background: url("../images/icon_yun_moreClose_active.png") left center no-repeat;
}

.yunFileRight{
    width: 80%;
    float: left;
}
#yunFiles{
    margin: 20px;
    min-height: 260px;
}
.yunFiles{
    width: 150px;
    height: 150px;
    padding-top: 10px;
    float: left;
    text-align: center;
    overflow: hidden;
    border:1px solid #000;
    border-color: rgba(0,0,0,0);
    margin: 5px;
    border-radius: 2px;
}
.yunFiles:hover{
    border-color: #ECECEC;
}
.activeFilesActive{
    background: #f3f3f3;
    border-color:#ECECEC;
}
.editActive{
    background: #f3f3f3;
    border-color:#ECECEC;
}
.yunFilesImg{
    width: 80px;
    height: 105px;
    margin: 0px auto; 
    background: #00b7ee url("../images/file.png") center center no-repeat;
    background-size: 80px 105px;
    text-align: center;
    line-height: 125px;
    font-size: 20px;
    color: #fff;
    font-family: Arial;
}
.activeFilesActive .yunFilesImg,.editActive .yunFilesImg{
    background-image: url("../images/file_active.png");
}
.yunFilesName{
    text-align: center;
    height: 21px;
    overflow: hidden;
}
.yunFilesBtn{
    margin:20px 20px 20px 20px;
    text-align: right;
    height: 40px;
    border-bottom: 1px dashed #e4e4e4;
}
.yunFilesBtn span{
    padding:10px 20px;
    padding-left: 45px;
    cursor: pointer;
    margin-right: 10px;
}
.yunFilesBtn span img{
    position: absolute;
    margin-left: -25px;
}
#NowFileName{
    float: left;
    font-weight: bold;
    cursor: default;
    color: #333;
}
.checkbox{
    width: 10px;
    height: 12px;
    border: 1px solid #00b7ee;
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    line-height: 6px;
    text-align: center;
    padding-right: 2px;
    color: #fff;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    margin-left: 5px;
    margin-top: -3px;
    z-index: 998;
    background-color: #fff;
}
.checked{
    color: #00b7ee;
}
#deskTop_left,#deskTop_right{
    width: 50%;
    float: left;
}
.deskTopBox{
    background: #fff;
    border-radius: 3px;
    min-height: 50px;
    margin:20px auto;
    overflow: hidden;
}
#deskTop_left .deskTopBox{
    margin-right:10px;
}
#deskTop_right .deskTopBox{
    margin-left:10px;
}
.deskTopBox_news_top{
    font-size: 24px;
    text-align: center;
    margin: 30px 0px 20px 0px;
}
.deskTopBox_news_msg{
    color: #9c9c9c;
    text-align: center;
    margin-bottom: 10px;
}
.deskTopBox_news_img{
    text-align: center;
}
.deskTopBox_news_img img{
    width: 90%;
}
.deskTopBox_news_text{
    width: 90%;
    margin: 10px auto;
}
.deskTopBox_news_btn{
    width: 90%;
    margin: 20px auto;
    color: #9c9c9c;
    border-top: 1px dashed #e4e4e4;
    padding-top: 20px;
}
.deskTopBox_news_btn input{
    border-radius: 3px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}
.deskTopBox_t{
    width: 90%;
    margin: 10px auto;
    line-height: 50px;
    border-bottom:1px solid #e4e4e4;
}
.deskTopBox_t span{
    border-bottom:1px solid #f4645f;
    padding: 10px 20px 16px 20px;
    font-weight: bold;
    margin-left: 10px;
}
.deskTopBox_c{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.autoList{
    padding:3px 10px;
    border-bottom:1px solid #e4e4e4;
    overflow:hidden;
}
.autoList:hover{
    background: #fdfdfd;
}
.listStyle_cicle{
    background: #f6f6f6;
    border-radius: 30px;
    margin-right: 5px;
    color: #ccc;
    margin-top: 8px;
    float: left;
    font-weight: normal;
    overflow: hidden;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.listStyle_cicle img{
    width: 100%;
}

.autoList.active{
    background: #E8E8E8;
}
#upLoadBox{
    width: 270px; 
    position: fixed; 
    z-index: 9998; 
    right: 0; 
    bottom:60px;
}
.upLoad{
    background: #9E2D40;
    opacity: 0.8; 
    margin-bottom: 10px;
}
.upLoad_name{
    position: absolute; 
    color: #fff; 
    margin-left: 10px;
    margin-top: 8px;
}
@keyframes upLoad_loaded
{
    0% {opacity: 0.1}
    50% {opacity: 0.3}
    100% {opacity: 0.1}
}
.upLoad_loaded{
    width: 100%; 
    opacity: 0.3; 
    background: #fff; 
    height: 40px;
    animation: upLoad_loaded 2s infinite;
}
.upLoad_close{
    position: absolute;
    margin-top: -44px;
    cursor: pointer;
    right: 2px;
    font-size: 16px;
    transition: all 1s;
    color: #fff;
    opacity: 0.5;
}
.upLoad_close:hover{
    opacity: 1;
}

.personData{
    width: 75px;
    height: 80px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    line-height: 15px;
    text-align: center;
    padding: 5px 0px;
}
.personData img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
#personDelete{
    width: 16px;
    height: 16px;
    background-color: #ff0000;
    text-align: center;
    color: #fff;
    position: absolute;
    cursor: pointer;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: -70px;
}
#advancedSearch_btn{
    margin-left: 60px;
    padding:8px 20px;
    border: 1px solid #e4e4e4;
    cursor: pointer;
}
#advancedSearch_box{
    border: 1px solid #e4e4e4;
    text-align: left;
    padding: 10px;
    background: #fff;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    display: none;
    z-index: 9999;
}

.advancedSearch_data{
    width: 220px;
    overflow: hidden;
    float: left;
    margin-bottom: 10px;
}
.advancedSearch_data .input{
    width: 180px;
}
.advancedSearch_btn{
    text-align: right;
}
.advancedSearch_btn input{
    border-radius: 3px;
}
.iconBtn{
    padding: 10px 20px;
    padding-left: 45px;
    cursor: pointer;
    margin-right: 10px;
}
.iconBtn img{
    position: absolute;
    margin-left: -25px;
}